@import "partials/mixins";

.btn.btn-left {
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.btn.btn-right {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

i.fa.right {
	margin-left: 0.5em;
}

i.fa.left {
	margin-right: 0.5em;
}

body {
	background: #fff9ee;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima-nova', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 15px;
}

img {
	max-width: 100%;
}

p:last-child {
	margin-bottom: 0px;
}

.text-white				{ color: 			#ffffff; }
.back-white				{ background: #ffffff; }
.text-cream				{ color: 			#fff9ee; }
.back-cream				{ background: #fff9ee; }
.text-lightgreen 	{ color: 			#a2d39c; }
.back-lightgreen 	{ background: #a2d39c; }
.text-lightblue 	{ color: 			#5bc0de; }
.back-lightblue		{ background: #5bc0de; }
.text-violet			{ color:			#a187be; }
.back-violet			{ background:	#a187be; }
.text-lightorange	{ color: 			#f7977a; }
.back-lightorange	{ background: #f7977a; }
.text-lightred		{ color: 			#eb4545; }
.back-lightred		{ background: #eb4545; }

.bigicons {
	font-size: 4em;
}

img.service-image {
	display: block;
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.bigicons.service-image {
	font-size: 75px;
}

.pad {
	padding-top: 2em;
	padding-bottom: 2em;
}

section.back {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1500px auto;
}

.mobile section.back,
.ipad section.back {
	background-attachment: inherit;
}

section#intro {
	background-image: url('/images/backgrounds/pastels.jpg');
	background-position: center bottom;
	background-size: cover;
	text-shadow: 0.1875em 0.1875em 0.125em rgba(0,0,0,0.3);
}

section#intro h1 {
	font-size: 6em;
}

#cookie-photos-carousel .item img {
	width: 100%;
}

.carousel-control.left,
.carousel-control.left:hover,
.carousel-control.right,
.carousel-control.right:hover {
	background: none;
}

section#about {
}

section#about #family-pic-wrap img {
	max-width: 100%;
	max-width: -webkit-calc(100% + 30px);
	max-width: -moz-calc(100% + 30px);
	max-width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
}

/* Video container */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@media screen and (max-width: 767px) {

	section#intro h1 {
		font-size: 3em;
	}

}
