@import "partials/mixins";

.btn.btn-left {
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.btn.btn-right {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

i.fa.right {
	margin-left: 0.5em;
}

i.fa.left {
	margin-right: 0.5em;
}

body {
	background: #fff9ee;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'ff-ernestine-web-pro', Georgia, serif;
}

.text-white				{ color: 			#ffffff; }
.back-white				{ background: #ffffff; }
.text-cream				{ color: 			#fff9ee; }
.back-cream				{ background: #fff9ee; }
.text-lightgreen 	{ color: 			#a2d39c; }
.back-lightgreen 	{ background: #a2d39c; }
.text-lightblue 	{ color: 			#5bc0de; }
.back-lightblue		{ background: #5bc0de; }
.text-violet			{ color:			#a187be; }
.back-violet			{ background:	#a187be; }
.text-lightorange	{ color: 			#f7977a; }
.back-lightorange	{ background: #f7977a; }
.text-lightred		{ color: 			#eb4545; }
.back-lightred		{ background: #eb4545; }

.bigicons {
	font-size: 4em;
}

section {
	padding: 2em 0px;
}

section.back {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1500px auto;
}

.mobile section.back,
.ipad section.back {
	background-attachment: inherit;
}

section#intro {
	background-image: url('/images/backgrounds/cookie_sample.jpg');
	text-shadow: 0.25em 0.25em 0.125em rgba(0,0,0,0.3);
}

section#intro h1 {
	font-size: 6em;
}

/* Video container */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@media screen and (max-width: 767px) {
	
	section {
		padding: 2em 0px;
	}
	
	section#intro h1 {
		font-size: 3em;
	}
	
}